<md-content layout-padding layout="row" layout-sm="column">
    <md-input-container>
      <label>Search</label>
      <input ng-model="brCtrl.speakerModel.browseTerm" ng-change="brCtrl.speakerModel.termChange()"
             ng-model-options="{ debounce: 500 }">
    </md-input-container>
    <md-button ng-disabled="!brCtrl.speakerModel.browseTerm" class="md-raised md-primary" ng-click="brCtrl.speakerModel.termClear()">Clear</md-button>
    <md-button ng-disabled="!brCtrl.speakerModel.browsePath.length" class="md-raised md-primary" ng-click="brCtrl.speakerModel.browseBack()">Back</md-button>
</md-content>

<md-list>
<md-subheader class="md-no-sticky">Results ({{brCtrl.speakerModel.browseResults.meta.total_matches}})</md-subheader>
    <md-list-item class="md-2-line"
                  ng-repeat="rslt in brCtrl.speakerModel.browseResults.contents"
                  ng-click="brCtrl.speakerModel.resultClick(rslt)">
        <!-- <img ng-src="{{todos[0].face}}?20" class="md-avatar" alt="{{todos[0].who}}" /> -->
        <i class="material-icons md-48">{{ brCtrl.browseIcon(rslt.type) }}</i>
        <div class="md-list-item-text">
            <h3>{{ rslt.title }}</h3>
            <p ng-show="rslt.original_track_number">{{ rslt.type }} {{ rslt.original_track_number}} - {{ rslt.album }} - {{ rslt.creator }}</p>
            <p ng-hide="rslt.original_track_number">{{ rslt.type }}</p>
        </div>
        <md-button class="md-icon-button" ng-click="brCtrl.playNow(rslt)">
          <i
             ng-show="rslt.type === 'Track'"
             class="material-icons">tap_and_play</i>
        </md-button>
        <i ng-click="brCtrl.queueAdd(rslt)"
           class="material-icons">playlist_add</i>
    </md-list-item>
</md-list>

