<span layout="row">
  <md-list>
    <md-subheader class="md-no-sticky">Now Playing</md-subheader>
    <md-list-item class="md-2-line" >
      <img class="song-art" ng-src="{{cti.speakerModel.selectedSpeaker.current_track_info.album_art}}" alt="{{cti.speakerModel.selectedSpeaker.current_track_info.album}}" src="" onerror="this.src=\'/src/images/no-album-art.png\'"/>
      <div class="md-list-item-text">
        <h3>{{cti.speakerModel.selectedSpeaker.current_track_info.title }}</h3>
            {{cti.speakerModel.selectedSpeaker.current_track_info.album }} - {{cti.speakerModel.selectedSpeaker.current_track_info.artist }}<br/>
      </div>
    </md-list-item>
    <md-list-item>
      {{ cti.speakerModel.selectedSpeaker.current_track_info.duration }}
    </md-list-item>
  </md-list>
</span>
