<!-- media controls  -->
<div layout="row" layout-align="center center">
  <md-button class="md-raised" ng-click="mcCtl.speakerModel.setMediaControl(mcCtl.speakerModel.selectedSpeaker, 'previous')">
    <i class="material-icons">skip_previous</i>
  </md-button>
  <md-button class="md-raised"
             ng-disabled="mcCtl.speakerModel.selectedSpeaker.current_transport_state.paused"
             ng-click="mcCtl.speakerModel.setMediaControl(mcCtl.speakerModel.selectedSpeaker, 'pause')">
    <i class="material-icons">pause_circle_filled</i>
  </md-button>
  <md-button class="md-raised" ng-disabled="mcCtl.speakerModel.selectedSpeaker.current_transport_state.playing"
                               ng-click="mcCtl.speakerModel.setMediaControl(mcCtl.speakerModel.selectedSpeaker, 'play')">
    <i class="material-icons">play_circle_filled</i>
  </md-button>
  <md-button class="md-raised" ng-disabled="mcCtl.speakerModel.selectedSpeaker.current_transport_state.stopped"
                               ng-click="mcCtl.speakerModel.setMediaControl(mcCtl.speakerModel.selectedSpeaker, 'stop')">
    <i class="material-icons">stop</i>
  </md-button>
  <md-button class="md-raised" ng-click="mcCtl.speakerModel.setMediaControl(mcCtl.speakerModel.selectedSpeaker, 'next')">
    <i class="material-icons">skip_next</i>
  </md-button>
  <!-- TODO missing Shuffle and Loop controls -->
</div>
