<fieldset class="standard">
    <legend>Play Mode</legend>
    <div layout="row" layout-wrap>
        <md-checkbox ng-model="pmCtrl.speakerModel.selectedSpeaker.loop"
            ng-change="pmCtrl.speakerModel.changedPM()",
            aria-label="Loop"
            class="md-primary">
          <i class="material-icons">loop</i>
        </md-checkbox>

        <md-checkbox ng-model="pmCtrl.speakerModel.selectedSpeaker.shuffle"
            ng-change="pmCtrl.speakerModel.changedPM()",
            aria-label="Shuffle"
            class="md-primary">
          <i class="material-icons">shuffle</i>
        </md-checkbox>

    </div>
</fieldset>
