<md-content layout-padding>
  <p ng-show="qCtrl.speakerModel.selectedSpeaker.queue.length">
  <md-button class="md-icon-button md-raised" ng-click="qCtrl.toggleShowSave()">
    <i class="material-icons">save</i>
  </md-button>
  {{ qCtrl.speakerModel.selectedSpeaker.queue.length }} Tracks in the queue, playing Track # {{ qCtrl.speakerModel.selectedSpeaker.current_track_info.playlist_position }}
  <md-button class="md-icon-button md-raised" ng-click="qCtrl.queueClear()">
    <i class="material-icons">clear_all</i>
  </md-button>
  </p>
  <form ng-show="qCtrl.showSave" layout="row" ng-submit="qCtrl.saveQueueAs()">
    <md-autocomplete md-autoselect="true" md-delay="500" placeholder="Save Queue as:"
                     md-selected-item="selectedItem" md-search-text="qCtrl.searchText"
                     md-items="item in qCtrl.speakerModel.getSonosPlaylists(qCtrl.searchText)" md-item-text="item">
      <span md-highlight-text="qCtrl.searchText" md-highlight-flags="^i">{{item}}</span>
    </md-autocomplete>
  </form>

  <md-list>
    <md-subheader class="md-no-sticky">Queue</md-subheader>
    <md-list-item class="md-2-line" ng-repeat="song in qCtrl.speakerModel.selectedSpeaker.queue">
      <img class="album-art" ng-src="{{song.album_art_uri}}" alt="{{song.album}}" src="" onerror="this.src='/src/images/no-album-art.png'"/>
      <div class="md-list-item-text">
        <h3>{{ song.title }}</h3>
        <p ng-show="song.creator">{{ song.creator }} - {{ song.album }}</p>
      </div>
      <md-button class="md-icon-button" ng-click="qCtrl.queuePlay(song)"
                 ng-hide="qCtrl.speakerModel.selectedSpeaker.current_track_info.uri == song.uri">
        <i class="material-icons">play_arrow</i>
      </md-button>
      <md-button class="md-icon-button"
                 ng-show="qCtrl.speakerModel.selectedSpeaker.current_track_info.uri == song.uri">
        <i class="material-icons">equalizer</i>
      </md-button>
      <md-button class="md-icon-button" ng-click="qCtrl.queueRemove(song)">
        <i class="material-icons">clear</i>
      </md-button>

    </md-list-item>
  </md-list>
</md-content>
