<div layout="row">
  <md-switch ng-click="sndCtrl.speakerModel.toggleBRW(sndCtrl.speakerModel.selectedSpeaker, 'cross_fade')" ng-model="sndCtrl.speakerModel.selectedSpeaker.cross_fade" aria-label="Cross Fade">Cross Fade</md-switch>
  <md-switch ng-click="sndCtrl.speakerModel.toggleBRW(sndCtrl.speakerModel.selectedSpeaker, 'mute')" ng-model="sndCtrl.speakerModel.selectedSpeaker.mute" aria-label="Mute">Mute</md-switch>
  <md-switch ng-click="sndCtrl.speakerModel.toggleBRW(sndCtrl.speakerModel.selectedSpeaker, 'loudness')" ng-model="sndCtrl.speakerModel.selectedSpeaker.loudness" aria-label="Loudness">Loudness</md-switch>
</div>
<div layout>
  <div flex="10" layout layout-align="center center">
    <span class="md-body-1">Volume ({{ sndCtrl.speakerModel.selectedSpeaker.volume }})</span>
  </div>
  <md-slider class="md-primary" flex md-discrete ng-model="sndCtrl.speakerModel.selectedSpeaker.volume"
             step="1" min="0" max="100" aria-label="Volume"
             ng-change="sndCtrl.speakerModel.changedNRW('volume')"></md-slider>
</div>
<div layout>
  <div flex="10" layout layout-align="center center">
    <span class="md-body-1">Treble ({{ sndCtrl.speakerModel.selectedSpeaker.treble }})</span>
  </div>
  <md-slider flex md-discrete ng-model="sndCtrl.speakerModel.selectedSpeaker.treble"
             step="1" min="-10" max="10" aria-label="Treble"
             ng-change="sndCtrl.speakerModel.changedNRW('treble')"></md-slider>
</div>
<div layout>
  <div flex="10" layout layout-align="center center">
    <span class="md-body-1">Bass ({{ sndCtrl.speakerModel.selectedSpeaker.bass }})</span>
  </div>
  <md-slider flex md-discrete ng-model="sndCtrl.speakerModel.selectedSpeaker.bass"
             step="1" min="-10" max="10" aria-label="Bass"
             ng-change="sndCtrl.speakerModel.changedNRW('bass')"></md-slider>
</div>

