<!-- tabs -->
<md-tabs class="md-primary" md-selected="stCtrl.selectedSpeakerTab" md-align-tabs="top" md-dynamic-height>
  <md-tab id="tab1" md-on-select="stCtrl.onTabSelected('debug')">
    <md-tab-label>debug</md-tab-label>
    <md-tab-body>

      <cs-play-mode></cs-play-mode>

      <cs-debug-info></cs-debug-info>

    </md-tab-body>
  </md-tab>
  <md-tab id="tab2" md-on-select="stCtrl.onTabSelected('sound')">
    <md-tab-label>sound</md-tab-label>
    <md-tab-body class="md-padding">

      <cs-sound-controls></cs-sound-controls>

    </md-tab-body>
  </md-tab> <!-- end sound -->

  <md-tab id="tab3" md-on-select="stCtrl.onTabSelected('song')">
    <md-tab-label>song</md-tab-label>
    <md-tab-body>

      <cs-current-trackinfo></cs-current-trackinfo>

    </md-tab-body>
  </md-tab> <!-- end song -->

  <md-tab id="tab4" md-on-select="stCtrl.onTabSelected('queue')">
    <md-tab-label>queue</md-tab-label>
    <md-tab-body>

      <cs-queue-control></cs-queue-control>

    </md-tab-body>
  </md-tab> <!-- end queue -->
  <md-tab id="tab5" md-on-select="stCtrl.onTabSelected('search')">
    <md-tab-label>search</md-tab-label>
    <md-tab-body>

      <cs-browse-control></cs-browse-control>

    </md-tab-body>
  </md-tab> <!-- end search -->
</md-tabs>
